{% extends '_base.html' %}
{% load static %}

{% block title %}
    Home - Mitchell Sullivan
{% endblock title %}

{% block content %}
<div class="container">
    <div class="resume">
        <h2>Mitchell Sullivan</h2>
        <h4 class="text-muted">Software Developer</h4>
        <blockquote>
            <p>
                <a href="https://github.com/mitchellsullivan">
                    github.com/mitchellsullivan
                </a>
                <br>
                <a href="mailto:ms@mitchellsullivan.net">
                    ms@mitchellsullivan.net
                </a>
                <br>
                +1 (601) 826-8678
            </p>
        </blockquote>
        <hr>
        <h4 id="projects">Projects</h4>
        <ul>
            <li>
                <p>
                    <strong>This website, </strong>
                    <a href="https://mitchellsullivan.net" class="not-printed">mitchellsullivan.net</a>
                    <br>
                    Under construction with live examples to come. Built with Django, Nginx, PostgreSQL, Ubuntu.
                    <a href="https://github.com/mitchellsullivan/mitchellsullivan-site">
                        Source on GitHub.
                    </a>
                </p>
            </li>
        </ul>
        <hr>
        <h4 id="technical">Technical Skills</h4>
        <ul>
            <li>
                <strong>C#/.NET</strong>
                <br>
                Desktop applications with WPF and
                web development with .NET Core.
            </li>
            <li>
                <strong>Python</strong>
                <br>
                Django web development, algorithm practice, various hacks.
            </li>
            <li>
                <strong>Databases</strong>
                <br>
                Sufficiently skilled in relational and document-store databases
                to support full-stack development.
            </li>
            <li>
                <strong>React Native, Cross-Platform Mobile</strong>
                <br>
                Have managed store deployments for employers' apps.
                Created native modules for React Native, such as one integrating
                    Zebra Technology's printer SDK (on both iOS and Android).
            </li>
            <li>
                <strong>Java, Kotlin</strong>
                <br>
                Basic Android development, simple servlets, and miscellaneous
                console apps. Non-negligible history with Scala and Clojure.
            </li>
            <li>
                <strong>ERP, Warehousing, Manufacturing, POS</strong>
                <br>
                Backend application/database architecture. Programming for devices:
                barcode scanners, thermal printers, RFID readers, etc., from
                companies like Zebra and Honeywell.
            </li>
        </ul>
        <hr>
        <h4 id="experience">Experience</h4>
        <p>
        <strong>Industrial Software Engineer</strong>
        <br>
        <small class="text-muted">January 2018 - August 2019</small>
        <br>
        Trinity Apparel
        <br>
        <small class="text-muted">Ridgeland, MS / Beijing, China</small>
        <br>
        <ul class="font-light">
            <li>
                Worked with a variety of technology involved in clothing manufacturing, warehousing, and shipping.
            </li>
            <li>
                Wrote touchscreen and desktop software for web and devices running Windows.
            </li>
            <li>
                Interfaced with myriad peripherals and devised innovative hardware solutions.
            </li>
            <li>
                Integrated systems, such as supporting a custom ERP and scripting vendor software.
            </li>
            <li>
                Spent three months on-site at our factory in Beijing, China between Sept. 2018 and Aug. 2019, as well
                as several weeks at a partner's facility in Bandung, Indonesia.
            </li>
        </ul>
        <hr>
        <h4 id="education">Education</h4>
        <p>
            <strong>B.S. Computer Science</strong>
            <br>
            <small class="text-muted">January 2015 - December 2016</small>
            <br>
            University of Mississippi
            <br>
            <small class="text-muted">Oxford, MS</small>
            <br>
            <ul>
                <li>
                    Minor: Biology
                </li>
                <li>
                    Previously studied Biology at Mississippi State University.
                </li>
            </ul>
        <p>
        <p>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
{#    {% autoescape off %}#}
{#        {% for p in posts %}#}
{#            {{ p.post_text }}#}
{#        {% endfor %}#}
{#    {% endautoescape %}#}
{% endblock content %}

